@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

header{
    width: 100%;
    min-height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 50px 0 0;
    z-index: 444;
    box-shadow: 2px 10px 19px -4px rgba(0,0,0,0.87);
-webkit-box-shadow: 2px 10px 19px -4px rgba(0,0,0,0.87);
-moz-box-shadow: 2px 10px 19px -4px rgba(0,0,0,0.87);
/* From https://css.glass */
background: rgba(0, 0, 0, 0.71);


backdrop-filter: blur(9.9px);
-webkit-backdrop-filter: blur(9.9px);

}
header a{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: 'Raleway', sans-serif;
}
header ul li{
    display: inline-block;
    padding: 10px 10px;
    opacity: 1;
    z-index: 444;
    font-family: 'Raleway', sans-serif;
}
header ul li:hover{
    opacity: 1;
}

header ul li img{
    width: 30px;
    height: 30px;
    transform: translateY(10px);
    border-radius: 50%;
}

/* --------- Dropdown ---------- */
.drop-nav{
    position: relative;
    padding: 10px 0;
    z-index: 444;

}
.drop-nav a{
    text-transform: capitalize;
    overflow: hidden;
    z-index: 444;   

}
.drop-nav .dropdown{
    position: absolute;
    background: #000000;
    width: 100%;
    color: rgb(253, 253, 253);
    width: calc(100% + 50px);
    top: 50px;
    z-index: 444;
    display: none;
    min-height: 300px !important;
}
.drop-nav .dropdown li{
    display: block;
    z-index: 444;
    position: relative;



}
.drop-nav:hover .dropdown{
    display: block;



}
.logo {
    height: 100px;
    width: auto;
}
