@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

.login_page{
    max-width: 400px;
    margin: auto;
    color: rgb(255, 255, 255);
    padding: 15px 70px;
    font-family: 'Raleway', sans-serif;
    /* From https://css.glass */
    background: rgba(2, 19, 5, 0.91);
    border-radius: 10px;
    box-shadow: 2px 10px 19px -4px rgba(0,0,0,0.87);
    -webkit-box-shadow: 2px 10px 19px -4px rgba(0,0,0,0.87);
    -moz-box-shadow: 2px 10px 19px -4px rgba(0,0,0,0.87);
    text-align: center;
    margin-top: 70px;

}
.login_page h2{
    text-transform: uppercase;
    font-size: 2rem;
    margin: 20px 0;
    letter-spacing: 1.5px;
    color: white;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.login_page input{
    width: 100%;
    height: 45px;
    margin: 10px 0;
    border: 1px solid rgb(12, 1, 1);
    outline: none;
    padding: 0 10px;
    border-radius: 7px;
    font-family: 'Raleway', sans-serif;
}
.login_page .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: center;
}
.login_page .row a{
    color: rgb(247, 114, 141);
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin-bottom: 1rem;
}
.login_page .row button{
    flex: 0.3;
    min-height: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #efff16;
    border: 2px solid #d6ff20;
    padding: 0 1rem;
    color: #000000;
    cursor: pointer;
    outline: none;
    align-items: center;
    margin: auto;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.login_page p{
    margin: 10px 0;
    font-family: 'Raleway', sans-serif;
}
.login_page a{
    color: #37ff58;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

/* ------------- Forgot Password --------------- */
.fg_pass h2{
    color: #555;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    margin: 50px 0;
    letter-spacing: 1.3px;
}
.fg_pass .row{
    max-width: 500px;
    margin: auto;
    padding: 0 10px;
}
.fg_pass .row input{
    width: 100%;
    height: 45px;
    border: 1px solid #031B34;
    outline: none;
    padding: 0 15px;
    border-radius: 3px;
    margin: 5px 0;
}
.fg_pass .row button{
    background: #333;
    color: white;
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    border-radius: 3px;
    margin-top: 15px;
}
/* ---------- Google ---------------- */
.login_page .hr{
    margin: 15px 0;
    color: crimson;
}

.login_page .social button{
    width: 100%;
    margin: 10px 0;
    height: 50px;
    font-size: 14px;
    font-weight: 200;
    text-transform: capitalize;
    letter-spacing: 1.3px;
    box-shadow: 0 2px 4px #777;
}